@font-face {
    font-family: 'Roboto', sans-serif;
    color:gray;
    src: url(https://fonts.googleapis.com/css?family=Roboto) format("truetype");
}

.cv-app-container{
	width:800px;
	height: 100%;
	margin:0 auto;
}

ul {
	list-style: none;
	color: black;

}

.cv-app-header-description{
	 word-wrap: break-word;
	 font-size: small !important;
}
.cv-app-sections {
	color:black;
}

.special-section-entry {
  padding: 10px;
}

.standard-key-name {
	font-weight: bold;
}
.job-name-li{
	font-weight: bold;
}
